<h1>Projects</h1>

<div class="row">
    <% projects.each do |project| %>
      <div class="span4">
        <div class="well"><h3><%= link_to project.name, project %></h3>
          <span class="label label-success">Success</span>
          <p><%= link_to project.repository_url, project.repository_url, target: '_blank' %></p>
          <p>Repository type: <%= project.repository_type %></p>
          <p>
            <%= simple_form_for project, url: project_runs_path(project), method: 'post' do |f| %>
              <%= f.submit 'Run project', class: 'btn' %>
            <% end %>
            <%= link_to 'Runs', project_runs_path(project), class: 'btn' %>
          </p>
        </div>
      </div>
    <% end %>
</div>

<br />

<%= link_to 'New Project', new_project_path, class: 'btn' %>




