.row
  .span10
    %p
      %strong Name:
      = project.name
    %p
      %strong Repositor url:
      = link_to project.repository_url, project.repository_url, target: '_blank'

    %p
      %strong Repository type:
      = project.repository_type


    = link_to 'Edit', edit_project_path(project)
    |
    = link_to 'Back', projects_path

  .span2
    = simple_form_for project, url: project_runs_path(project), method: 'post' do |f|
      = f.submit 'Run project', class: 'btn'
    = link_to 'Runs', project_runs_path(project), class: 'btn'

.row
  .span12
    %div{"ng-app" => ""}
      %div{"ng-controller" => "ScriptsCtrl"}
        %span{:id => "project-id", "data-project-id" => project.id}
        %form{"ng-submit" => "addEntry()"}
          Select a script
          %select{"ng-model" => "data", "ng-options" => "currOption for currOption in data.scripts", "ng-model" => "data.name"}
          %input{"type" => "submit", "value" => "Add"}

        %p {{data.name}}
